<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="splash-container" style="background-image:url({{page.image}});background-size:cover">
    <div class="splash">
      <div class="splash-text">
        <h4 class="splash-head splash-subtitle">Guía de <span style="color:#6a6ab4">Inscripción Académica</span> <span style="color:#00a7ca">Integral</span><span style="color:#e68320">áctica</span></h4>
        <h2 class="splash-head splash-title">{{page.title}}</h3>
      </div>
    </div>
  </div>
  <div class="content-wrapper">
    <div class="content">
      {{ content }}
    </div>
  {% include footer.html %}
  </div>
  </body>

</html>
